@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Mulish:wght@600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.container {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
}

.ta-c {
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

.header {
  background: url(../img/header-bg.png);
  background-position: 50% 50%;
  height: 688px;
}
.header__nav-item .menu-items {
  display: flex;
}
.header__nav-item .menu-items .menu-item__link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.header__nav-item .menu-items .menu-item__link:hover {
  color: #f2f2f2;
}
.header__nav-item .menu-items .menu-item:not(:first-child) {
  margin-left: 48px;
}
.header__nav-btn .nav-btn {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 2;
  padding: 15px 30px;
  cursor: pointer;
}
.header__nav-btn .nav-btn:hover {
  background-color: #fafafa;
  color: #000;
}

nav {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
}

.banner-inner {
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
}
.banner-inner__title {
  margin-top: 168px;
  font-size: 52px;
  color: #fff;
  margin-bottom: 20px;
}
.banner-inner__text {
  width: 690px;
  margin: 0 auto;
  color: #fff;
  font-size: 20px;
}
.banner-inner__card {
  display: flex;
  margin: 0 auto;
  margin-top: 16px;
}
.banner-inner__card .banner-card__left_title {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.banner-inner__card .banner-card__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.banner-inner__card .banner-card__right_title {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}
.banner-inner__card .banner-card__right img {
  background-color: #fff;
  border-radius: 7px;
  width: 180px;
  height: 70px;
  margin-bottom: 8px;
}
.banner-inner__card_link {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.banner-inner__card_link .link {
  color: #033573;
  cursor: pointer;
}
.banner-inner__card_link .link::after {
  content: "";
  background-image: url(../img/icon-arrow.svg);
  display: inline-block;
  width: 10px;
  height: 14px;
  margin-left: 4px;
}

.how-to-add {
  background-image: url(../img/how-to-add-img.png);
  background-position: 50% 50%;
  padding-top: 100px;
  top: 0;
}
.how-to-add .section-inner {
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.how-to-add .section-inner .how-to-add__card-left .card-left_text {
  box-sizing: border-box;
  text-align: left;
  color: #fff;
  width: 300px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.how-to-add .section-inner .how-to-add__card-left .card-left_text .link {
  font-weight: 500;
  color: #033573;
}
.how-to-add .section-inner .how-to-add__card-right .card-right_text {
  text-align: left;
  color: #fff;
  width: 300px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.how-to-add .section-inner .how-to-add__card-right .card-right_text .link {
  font-weight: 500;
  color: #033573;
}

.vso-staking .container {
  font-family: "Mulish", sans-serif;
}
.vso-staking .container .vso-staking__title {
  margin: 40px auto;
  font-size: 44px;
  font-weight: 900;
  color: #283049;
  line-height: 80px;
}
.vso-staking .container .vso-staking__text {
  font-weight: 400;
  font-size: 20px;
  color: #1F3E4F;
  width: 680px;
  margin: 0 auto;
}
.vso-staking .container table {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #1F3E4F;
}
.vso-staking .container table .blue {
  color: #187BF5;
}
.vso-staking .container table thead {
  font-weight: 700;
}
.vso-staking .container table thead tr {
  border-bottom: 4px solid #187BF5;
}
.vso-staking .container table thead td {
  text-align: left;
  padding: 8px;
}
.vso-staking .container table tbody th, .vso-staking .container table tbody td {
  padding: 8px;
  text-align: left;
}

.footer {
  font-family: "DM Sans", sans-serif;
  background-color: #0060E0;
  position: relative;
}
.footer .footer__logo {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 48px;
}
.footer .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.footer .container .footer__left {
  position: relative;
  margin-top: 80px;
}
.footer .container .footer__left_title {
  font-size: 20px;
  font-weight: 400;
  width: 200px;
  color: #fff;
  margin-bottom: 8px;
}
.footer .container .footer__left input {
  background-color: #0D6BD8;
  border: none;
  padding: 16px 60px 16px 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  outline: none;
  color: rgba(255, 255, 255, 0.5);
}
.footer .container .footer__left .btn {
  padding: 16px 20px;
  position: absolute;
  left: 200px;
  cursor: pointer;
  background-color: #979797;
  border: none;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.footer .container .footer__right {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .container .footer__right_item {
  color: #fff;
}
.footer .container .footer__right_item:nth-child(1) {
  color: #B1C8E3;
}
.footer .footer__logo .logo-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
}
.footer .footer__logo .logo-item img {
  margin-right: 40px;
  cursor: pointer;
}
.footer .footer__logo .logo-item img:hover {
  color: #e6e6e6;
}
.footer .copyright {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 100px;
}
.footer .copyright__title {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
}
.footer .copyright__text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.footer .arrow-top {
  position: absolute;
  background: #0D6BD8;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 28px;
  cursor: pointer;
}
.footer .arrow-top img {
  position: absolute;
  transform: rotate(-90deg);
  bottom: 20px;
  right: 20px;
  color: #fff;
}